
@model IEnumerable<Assignment1_FAST.Models.AllEquipment.Equipment>
@{
    ViewData["Title"] = "Available Equipment";
}
 
    <div class="text-center p-2">
        <h2 class="text-center">
            Available Equipment Listing
        </h2>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr><th>Id</th><th>Type</th><th>Description</th><th>Availability</th></tr>
            </thead>
            <tbody>
                @foreach (var equipment in Model)
                {
                    <tr>
                        <td>@equipment.Id</td>
                        <td>@equipment.Type</td>
                        <td>@equipment.Description</td>
                        <td>@(equipment.IsAvailable ? "Available" : "Unavailable")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>



