

@model Assignment1_FAST.Models.RequestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation</title>
</head>
<body>

    <h1>Request Submitted!</h1>
    <p> Your request has been made! Someone from IT will be in touch soon</p>
    <li><a href="/">Home</a></li>

</body>
</html>