@{
    ViewData["Title"] = "Confirmation";
}


<div>

    <h1>Request Submitted!</h1>
    <p> Your request has been made! Someone from IT will be in touch soon</p>
    <li><a href="/">Home</a></li>

</div>


