
@{

    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fast Equipment Took</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif, sans-serif;
            background-color: #9370db;
            color: #0f0b16
        }
        nav {
            background-color: #3b2d58;
            border-radius: 5px;
            padding: 10px 15px;
        }
        .container {
            margin : 15px;
        }
        .navmenu {
            padding:0;
            display: flex;
            gap: 20px;
            text-decoration: none;
            list-style-type: none;
            font-size: x-large;
        }
        .navmenu a {
            color:white;
            text-decoration: none;

        }

        p{
            font-size: larger;
            text-align: center;
        }
            


    </style>
</head>
<body>
    <div class = "container">
        <nav>
            <ul class="navmenu">
                <li><a href="/">Home</a></li>
                <li><a asp-action="AllEquipment"> All Equipment Listing</a></li>
                <li><a asp-action="AvailableEquipment">Available Equipment</a></li>
                <li><a asp-action="RequestForm"> Request Form</a></li>

            </ul>
        </nav>

    </div>
    <div>
        <p> WELCOME TO FAST EQUIPMENT TOOL WEBSITE!!! </p>
        <p>  Where students and proffessors can make requests to borrow an IT equipment, by access it through our equipment-list page and filling in the request form!</p>


    </div>
</body>
</html>