
@{
    ViewData["Title"] = "Home";
}

<div>

    <div>
        <p> WELCOME TO FAST EQUIPMENT TOOL WEBSITE!!! </p>
        <p>  Where students and proffessors can make requests to borrow an IT equipment, by access it through our equipment-list page and filling in the request form!</p>

    </div>
</div>