@model IEnumerable<Assignment1_FAST.Models.RequestResponse>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Requests</title>
    <style>

        nav {
            background-color: #3b2d58;
            border-radius: 5px;
            padding: 10px 15px;
        }

        .container {
            margin: 15px;
        }

        .navmenu {
            padding: 0;
            display: flex;
            gap: 20px;
            text-decoration: none;
            list-style-type: none;
            font-size: x-large;
        }

            .navmenu a {
                color: white;
                text-decoration: none;
            }
    </style>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container">
        <nav>
            <ul class="navmenu">
                <li><a href="/">Home</a></li>
                <li><a asp-action="AllEquipment"> All Equipment Listing</a></li>
                <li><a asp-action="AvailableEquipment">Available Equipment</a></li>
                <li><a asp-action="RequestForm"> Request Form</a></li>


            </ul>
        </nav>

    </div>

    <div class="text-center p-2">
        <h2 class="text-center">
            List of Requests made for IT Equipment
        </h2>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr><th>Equipment Type</th><th>Name</th><th>Role</th><th>Status</th></tr>
            </thead>
            <tbody>
                @foreach (var request in Model)
                {
                    <tr>
                        <td>@request.EquipmentType</td>
                        <td>@request.Name</td>
                        <td>@request.Role</td>
                        <td>
                            <button type="button">ACCEPT</button>
                            <button type="button">DENY</button>

                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</body>
</html>

