@model IEnumerable<Assignment1_FAST.Models.RequestResponse>


@{
    ViewData["Title"] = "Requests";
}

<div>

    <div class="text-center p-2">
        <h2 class="text-center">
            List of Requests made for IT Equipment
        </h2>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr><th>Equipment Type</th><th>Name</th><th>Role</th><th>Status</th></tr>
            </thead>
            <tbody>
                @foreach (var request in Model)
                {
                    <tr>
                        <td>@request.EquipmentType</td>
                        <td>@request.Name</td>
                        <td>@request.Role</td>
                        <td>
                            <button type="button">ACCEPT</button>
                            <button type="button">DENY</button>

                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

